
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
 
  .bm-burger-bars {
    background: linear-gradient(to right top, black, grey, white)
  }
  
 
  .bm-burger-bars-hover {
    background-color: black;
  }
  

  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
 
  .bm-cross {
    background: #bdc3c7;
  }
  
 
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
 
  .bm-menu {
    background-image: linear-gradient(to right top, black, grey, white);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  
  .bm-morph-shape {
    fill: #373a47;
  }
  

  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  
   
.bm-item {
    display: inline-block;
  
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .bm-item:hover {
    color:black;
  }
  
  

  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
/* 
  a.bm-item.menu-item:hover {
    background-image: linear-gradient(to left, #fea3aa, #f8b88b, #faf884, #baed91, #b2cefe, #f2a2e8);
  } */